#rewards{
  background:#fff8e1;
  padding:25px;
  margin:30px 0;
  border-radius:12px;
}

.plan{
  background:#ffffff;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.plan h3{
  color:#d35400;
}

#rewards ul{
  padding-left:20px;
}

#rewards li{
  margin:8px 0;
}
body{
margin:0;
font-family:Arial,sans-serif;
background:#f8f5ed;
color:#333;
}

header{
background:#0b5d2a;
color:#fff;
text-align:center;
padding:25px;
}

.logo{
width:100px;
height:100px;
border-radius:50%;
}

.hero{
background:#fff;
padding:40px 20px;
text-align:center;
}

.hero h2{
color:#0b5d2a;
font-size:32px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#ff6600;
color:#fff;
text-decoration:none;
border-radius:8px;
margin-top:15px;
font-weight:bold;
}

section{
padding:30px;
}

.card{
background:#fff;
padding:20px;
margin:20px auto;
max-width:350px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

.full{
width:100%;
border-radius:15px;
}

footer{
background:#0b5d2a;
color:#fff;
text-align:center;
padding:20px;
margin-top:30px;
}
#why-us{
  background:#f8fff3;
  padding:25px;
  margin:30px 0;
  border-radius:12px;
  text-align:center;
}

#why-us .plan{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

#why-us p{
  font-size:18px;
  margin:10px 0;
  }
#reviews{
  background:#fff8f0;
  padding:25px;
  margin:30px 0;
  border-radius:12px;
}

#reviews .plan{
  background:#fff;
  margin:15px 0;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:white;
  padding:15px 20px;
  border-radius:50px;
  text-decoration:none;
  font-weight:bold;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  z-index:999;
}

.whatsapp:hover{
  background:#1da851;
}
#faq{
  background:#f7f7f7;
  padding:25px;
  margin:30px 0;
  border-radius:12px;
}

#faq .plan{
  background:#fff;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

#faq h3{
  color:#d35400;
}
